#arena {
    position: fixed;
    height: 400px;
    width: 400px;
    background-color: beige;
}
.object {
    display: inline-block;
}
#player {
    position: absolute;
    top: 180px;
    height: 40px;
    width: 40px;
    background-color: indianred;
    animation-name: slide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}
#arena:active #player {
    animation-play-state: running;
}
@keyframes updown {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(360px)
    }
    100% {
        transform: translateY(0px)
    }
}
@keyframes slide {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(360px)
    }
    100% {
        transform: translateX(0px)
    }
}
.obstacle {
    margin-left: 100px;
    height: 40px;
    width: 40px;
    background-color: darkblue;
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#obs2 {
    animation-duration: 2s;
}