.sidebar {
    font-size: initial;
    padding: 5%;
    display: inline-block;
    background-color: lightgrey;
    height: 90%;
    width: 10%
}
html {
    height: 100%;
}
body {
    font-size: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    height: 100%;
}
.content {
    font-size: initial;
    padding: 5%;
    display: inline-block;
    background-color: bisque;
    height: 90%;
    width: 50%
}

@media (max-width: 500px) {
    .content {
        display: block;
        height: auto;
        width: 100%
    }
    .sidebar {
        display: block;
        height: auto;
        width: 100%
    }
}
