nav ul {
    background-color: beige;
    box-shadow: 2px 2px 2px grey;
}
nav ul > li > ul {
    z-index: -10;
}


nav ul ul {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0px
}

nav li:hover > ul {
    display: block;
}
nav ul ul ul {
    z-index: -15;
    position: absolute;
    left: 60px;
    white-space: nowrap;
}
nav ul ul li {
    border-bottom: 1px solid lightslategray;
    padding: 10px;
}
nav > * > li {
    border-right: 1px solid lightslategray;
    padding: 10px;
    display: inline-block;
}