<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="/logout">LOGOUT</a>
<table border="1" cellpadding="10">
  <tr>
    <td>NAME</td>
    <td>{{user.name}}</td>
  </tr>
  <tr>
    <td>AGE</td>
    <td>{{user.age}}</td>
  </tr>
  <tr>
    <td>EMAIL</td>
    <td>{{user.email}}</td>
  </tr>
</table>

</body>
</html>