<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

{{alert}}

<form action="/signup" method="post">
  <input name="name" type="text" placeholder="full name">
  <br>
  <input name="age" type="number" placeholder="age">
  <br>
  <input name="email" type="email" placeholder="email id">
  <br>
  <input name="password" type="password" placeholder="password">
  <br>
  <input type="submit">
</form>
</body>
</html>