div {
    margin: 20px;
    padding: 20px;
    width: 100px;
    display: inline-block;
    background-color: steelblue;
    box-shadow: 4px 4px 5px grey;
    font-family: sans-serif;
    color: lightcyan;
    transition: 0.5s;
}

div:hover {
    transform: translate(-5px, -5px);
    box-shadow: 9px 9px 5px grey;
    transition: 0.5s;
}

div:active {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px 5px grey;
    transition: 0.2s;
}