<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Todo List</h1>
<form action="/" method="post">
  <input name="task">
  <input type="submit">
</form>
<ul>
  {{#each todos}}
    <li>{{task}}</li>
  {{/each}}
</ul>
</body>
</html>